.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 0px 10px 20px black;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.sidenav-container {
  position: fixed;
  bottom: 0px;
  right: 0;
  left: 0px;
}

.alinear-derecha {
  text-align: right;
}
