<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <h2>
    <table>
      <tr>
        <td class="contenido" *ngFor="let cate of categorias" (click)="seleccionarCategoria(cate)">
          <span class="titulo">
            {{cate.cateNombre}}
          </span>
          <ul >
            <li *ngFor="let item of cate.items" (click)="seleccionarItem(item)">
              <span>
                {{item.itemCodigo}}
              </span>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </h2>
</div>