<div class="header">
    <h1>CONFIGURACIÓN CENTRAL</h1>
</div>

<div class="row">

    <div class="col-3 col-m-12 menu">
        <div class="menu-contenedor">
            <ul>
                <li>Usuarios</li>
                <li>Logout</li>
            </ul>
        </div>
    </div>

    <div class="col-9 col-m-12 contenido">
        <router-outlet></router-outlet>
    </div>

</div>

<div class="footer">
    <p>
        LA TABLITA GROUP CIA LTDA
    </p>
    <p>
        Sistema Central de Configuración
    </p>
    <p>
        Versión: 1.0
    </p>
    <p>
        Licencia: MIT
    </p>
</div>