<!-- Button trigger modal -->

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a href="#">HTML</a>
    </li>
    <li>
      <a href="#">CSS</a>
    </li>
    <li>
      <a href="#">JavaScript</a>
    </li>
  </ul>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<hr/>

<div class="w3-dropdown-hover">
  <button class="w3-button">Hover Over Me!</button>
  <div class="w3-dropdown-content w3-bar-block w3-border">
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
  </div>
</div>

<h1>{{mensaje}}</h1>
<div class="w3-bar w3-black">
  <a href="#" class="w3-bar-item w3-button">Home</a>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>
<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-border-right" [style.display]="display" id="mySidebar">
  <button (click)="w3_close()" class="w3-bar-item w3-large cursor-seleccion">Close &times;</button>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

<!-- Page Content -->
<div class="w3-teal">
  <button class="w3-button w3-teal w3-xlarge" (click)="w3_open()">☰</button>
  <div class="w3-container">
    <h1>My Page</h1>
  </div>
</div>

<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>
<div>
  <input type="button" (click)="getUsuarios()" value="Consultar datos" class="w3-button w3-blue" />
  <ul>
    <li *ngFor="let user of usuarios">{{user.usua_codigo}}, {{user.usua_username}}, {{user.usua_password}}, {{user.usua_estado}}</li>
  </ul>
</div>

<div class="w3-container">
  <h2>Responsive Show/Hide</h2>
  <p>
    <strong>Note:</strong> Resize the browser window to understand how it works:</p>

  <div class="w3-container w3-hide-small w3-red">
    <p>w3-hide-small will be hidden on small screens (phones)</p>
  </div>

  <div class="w3-container w3-hide-medium w3-green">
    <p>w3-hide-medium will be hidden on medium screens (tablets)</p>
  </div>

  <div class="w3-container w3-hide-large w3-blue">
    <p>w3-hide-large will be hidden on large screens (laptops/desktop)</p>
  </div>
</div>


<div class="w3-container">

  <div class="w3-row">
    <div class="w3-col l6">
      asdasd
    </div>
    <div class="w3-col l6">
      asdasd
    </div>
    <div class="w3-col l12">
      asdasd
    </div>
  </div>

  <h2>W3.CSS Login Modal</h2>
  <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-green w3-large">Login</button>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

      <div class="w3-center">
        <br>
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright"
          title="Close Modal">&times;</span>
        <div class="logo"></div>
      </div>

      <form class="w3-container" action="/action_page.php">
        <div class="w3-section">
          <label>
            <b>Username</b>
          </label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="usrname" required>
          <label>
            <b>Password</b>
          </label>
          <input class="w3-input w3-border" type="password" placeholder="Enter Password" name="psw" required>
          <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Login</button>
          <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me
        </div>
      </form>

      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
        <span class="w3-right w3-padding w3-hide-small">Forgot
          <a href="#">password?</a>
        </span>
      </div>

    </div>
  </div>
</div>
