/* obliga a que los tamaños de bordes y paddings se incluyan en el ancho y alto de todos los elementos */
* {
  box-sizing: border-box;
  border: solid black 1px;
}

/* obliga por defecto la letra sea de tal tipo y de tal tamaño */
html {
  font-family: "Comic Sans MS", "Lucida Sans", sans-serif;
}

/* artificio para limpiar espacios en cada fila responsiva*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* se establece el padding entre columnas responsivas y se las establece como flotantes a la izquierda */
[class*="col-"] {
  float: left;
  padding: 15px;
}

/* media queries para tamaños de columnas responsivas de acuerdo a cada tamaño de pantalla */

/* diseño para mobiles*/
[class*="col-"] {
  width: 100%;
}

/* diseño para tabletas */
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}

/* se establece el tamaño para pantallas mayores a 768 pixeles */
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
