<div class="contenedor">
  <mat-card>
    <mat-card-title>Ingreso de información de usuarios</mat-card-title>
    <mat-card-content>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-2  ui-lg-2">Nombre:</div>
        <div class="ui-g-12 ui-md-10  ui-lg-2">
          <mat-form-field>
            <input matInput placeholder="Ej: Diego" value="">
          </mat-form-field>
        </div>
        <div class="ui-g-12 ui-md-2  ui-lg-2">Apellido:</div>
        <div class="ui-g-12 ui-md-10  ui-lg-2">
          <mat-form-field>
            <input matInput placeholder="Ej: Peñafiel" value="">
          </mat-form-field>
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2">Edad:</div>
        <div class="ui-g-12 ui-md-10 ui-lg-2">
          <mat-form-field>
            <input matInput placeholder="Ej: 12" value="">
          </mat-form-field>
        </div>
        <div class="ui-g-12 ui-md-2  ui-lg-2">Ciudad:</div>
        <div class="ui-g-12 ui-md-10 ui-lg-2">
          <mat-form-field>
            <input matInput placeholder="Ej: Quito" value="">
          </mat-form-field>
        </div>
        <div class="ui-g-12 ui-md-2  ui-lg-2">Cargo:</div>
        <div class="ui-g-12 ui-md-10  ui-lg-2">
          <mat-form-field>
            <input matInput placeholder="Ej: Programador" value="">
          </mat-form-field>
        </div>
        <div class="ui-g-12 ui-md-10  ui-lg-2">
          <button mat-raised-button color="primary">Registrar datos</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
