<div class="form-group">
  <label for="app-login-usuario-text-1">Usuario:</label>
  <input id="app-login-usuario-text-1" class="form-control" type="text" placeholder="ingrese su nombre de usuario" [(ngModel)]="usuario.usuaUsuario"
  />
</div>
<div class="form-group">
  <label for="app-login-usuario-password-1">Clave:</label>
  <input id="app-login-usuario-password-1" class="form-control" type="password" placeholder="ingrese su clave" [(ngModel)]="usuario.usuaClave"
  />
</div>
<button type="submit" class="btn btn-primary" (click)="onIngresar()">Ingresar</button>


<h3>Basic</h3>
<p-calendar [(ngModel)]="date1"></p-calendar> {{date1|date}}

<p-dialog header="Title" [(visible)]="display" modal="true">
  Content
</p-dialog>

<button type="text" (click)="showDialog()" pButton icon="fa-external-link-square" label="Show"></button>